/* You can add global styles to this file, and also import other style files */

$bgcolor:  rgb(211, 210, 210); 
$fontWeight: bold;
html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $bgcolor;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
